<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="greeting" xsi:type="object">\Zam\Cli\Console\Command\Greeting</item>
                <item name="check-active" xsi:type="object">\Zam\Cli\Console\Command\CheckActive</item>
            </argument>
        </arguments>
    </type>
</config>
